In [1]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

In [2]:
start = datetime.datetime(2016,3,1)
end = datetime.datetime(2016,3,10)
df = data.DataReader(name="AAPL",data_source="yahoo",start=start,end=end)
df

                 High        Low       Open      Close     Volume  Adj Close
Date
2016-02-29  24.557501  24.162500  24.215000  24.172501  140865200  22.286465
2016-03-01  25.192499  24.355000  24.412500  25.132500  201628400  23.171564
2016-03-02  25.222500  24.910000  25.127501  25.187500  132678400  23.222275
2016-03-03  25.427500  25.112499  25.145000  25.375000  147822800  23.395149
2016-03-04  25.937500  25.342501  25.592501  25.752501  184220400  23.743195
2016-03-07  25.707500  25.240000  25.597500  25.467501  143315600  23.480429
2016-03-08  25.440001  25.100000  25.195000  25.257500  126247600  23.286814
2016-03-09  25.395000  25.067499  25.327499  25.280001  108806800  23.307560
2016-03-10  25.559999  25.037500  25.352501  25.292500  134054400  23.319080

In [3]:
# Selecting the columns using index
df.index[df.Close > df.Open]  # When closing price > opening price = Profit

DatetimeIndex(['2016-03-01', '2016-03-02', '2016-03-03', '2016-03-04',
               '2016-03-08'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [4]:
def inc_dec(c,o):
    if c>o:
        return "Increase"
    elif c<o:
        return "Decrease"
    else:
        return "Equal"

df["Status"] = [inc_dec(c,o) for c,o in zip(df.Close,df.Open)] # This creates a new column Status...with increase | decrease | equal
df

,High,Low,Open,Close,Volume,Adj Close,Status
Date,,,,,,,
2016-02-29,24.557501,24.162500,24.215000,24.172501,140865200,22.286465,Decrease
2016-03-01,25.192499,24.355000,24.412500,25.132500,201628400,23.171564,Increase
2016-03-02,25.222500,24.910000,25.127501,25.187500,132678400,23.222275,Increase
2016-03-03,25.427500,25.112499,25.145000,25.375000,147822800,23.395149,Increase
2016-03-04,25.937500,25.342501,25.592501,25.752501,184220400,23.743195,Increase
2016-03-07,25.707500,25.240000,25.597500,25.467501,143315600,23.480429,Decrease
2016-03-08,25.440001,25.100000,25.195000,25.257500,126247600,23.286814,Increase
2016-03-09,25.395000,25.067499,25.327499,25.280001,108806800,23.307560,Decrease
2016-03-10,25.559999,25.037500,25.352501,25.292500,134054400,23.319080,Decrease

In [7]:
df["Middle"] = (df.Open + df.Close)/2
df["Height"] = abs(df.Close-df.Open)
df

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Height
Date,,,,,,,,,
2016-02-29,24.557501,24.162500,24.215000,24.172501,140865200,22.286465,Decrease,24.193750,0.042500
2016-03-01,25.192499,24.355000,24.412500,25.132500,201628400,23.171564,Increase,24.772500,0.719999
2016-03-02,25.222500,24.910000,25.127501,25.187500,132678400,23.222275,Increase,25.157500,0.059999
2016-03-03,25.427500,25.112499,25.145000,25.375000,147822800,23.395149,Increase,25.260000,0.230000
2016-03-04,25.937500,25.342501,25.592501,25.752501,184220400,23.743195,Increase,25.672501,0.160000
2016-03-07,25.707500,25.240000,25.597500,25.467501,143315600,23.480429,Decrease,25.532500,0.129999
2016-03-08,25.440001,25.100000,25.195000,25.257500,126247600,23.286814,Increase,25.226250,0.062500
2016-03-09,25.395000,25.067499,25.327499,25.280001,108806800,23.307560,Decrease,25.303750,0.047499
2016-03-10,25.559999,25.037500,25.352501,25.292500,134054400,23.319080,Decrease,25.322500,0.060001

In [8]:
p = figure(x_axis_type='datetime',width=1000,height=300,sizing_mode='scale_width') 
p.title="Candlestick Chart"
p.grid.grid_line_alpha=0.3

hours_12 = 12*60*60*1000

p.rect(df.index[df.Status=="Increase"],df.Middle[df.Status=="Increase"],hours_12,df.Height[df.Status=="Increase"],fill_color="green",line_color="black") # Profit

p.rect(df.index[df.Status=="Decrease"],df.Middle[df.Status=="Decrease"],hours_12,df.Height[df.Status=="Decrease"],fill_color="red",line_color="black") # Loss

p.segment(df.index,df.High,df.index,df.Low,color="Black")

output_file("Stocks.html")
show(p)